langchain==0.1.20
langchain_community==0.0.38
langchain_core==0.1.52
langchain_groq==0.1.4
python-dotenv==1.0.1
streamlit==1.31.0
streamlit_chat==0.1.1
pypdf==4.2.0
sentence-transformers==2.7.0
chromadb
huggingface-hub==0.22.2
